from typing import Any

import pytest
import structlog
from vyper import v
from pathlib import Path

{% for client in clients -%}
import clients.http.{{client.get("package")}} as {{client.get("package")}}
{% endfor %}


structlog.configure(processors=[structlog.processors.JSONRenderer(indent=4, ensure_ascii=True)])

options = (
{% for client in clients -%}
"service.{{client.get("package")}}_{{client.get("client")|underscore}}",
{% endfor -%}
)



@pytest.fixture(scope="session", autouse=True)
def set_config(request: Any) -> None:
    config = Path(__file__).parent.parent.joinpath("config")
    config_name = request.config.getoption("--env")
    v.set_config_name(config_name)
    v.add_config_path(config)
    v.read_in_config()
    for option in options:
        v.set(f"{option}", request.config.getoption(f"--{option}"))


def pytest_addoption(parser: Any) -> Any:
    parser.addoption("--env", action="store", default="stg", help="run stg")

    for option in options:
        parser.addoption(f"--{option}", action="store", default=None)

{% for client in clients -%}
@pytest.fixture
def {{client.get("package")}}_{{client.get("client")|underscore}}() -> {{client.get("package")}}.{{client.get("client")}}:
    configuration = {{client.get("package")}}.Configuration(host=v.get("service.{{client.get("package")}}_{{client.get("client")|underscore}}"))
    api_client = {{client.get("package")}}.ApiClient(configuration)
    return {{client.get("package")}}.{{client.get("client")}}(api_client=api_client)

{% endfor -%}